body {
  padding: 40px;
  font-family: Helvetica;
}

.wrapper-row {
  display: grid; 
  grid-template-rows: repeat(auto-fit, minmax(60px, 60px));
}

.box {
  background-color: #20262e;
  color: #fff;
  font-size: 14px;
  height: 60px;
  max-width: 60px;
  border: solid #fff;
}

.wrapper-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 60px));
  max-width: 600px;
  max-height: 600px;
}

#player {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
}